<!DOCTYPE html>

<html>
    <head>
        <!-- Thins not displayed on screen-->
        <title>Django Blog</title>
    </head>
    <body>
        <!--container tag.. they do not really do anythin yetm but organize your website into sections-->
        <header> <!--title of webpage-->
            <!--a or anchor tag link to something-->
            <h1><a href="/">Django Girls Blog</a></h1> <!--heading tags that denote sections or titles of parts of webpage-->
        </header>

        <!--article container tag... this tag is used to usually descrube artivles or posts-->
        <!--to run ppython code in html files, Python code is denoted by {}. data is { { } } function or actions (% code %)-->
        {% for post in posts %}
            <article>
                <time>published: {{post.published_date}}</time>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
            </article>
            {% endfor %}
    </body>
</html>